.breadcrumbs {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 40px;
  @include respond-to(sm) {
  margin-top: 20px;
  margin-bottom: 20px;
  }
  &__item {
    display: inline-block;
    margin-bottom: 26px;
    @include respond-to(xs) {
      margin-bottom: 5px;
    }
  }
  &__link {
    font-family: 'Open Sans';
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    &--active {
      color: #000;
      font-weight: 700;
    }
  }
}

.breadcrumbs-contacts {
  @include respond-to(sm) {
    padding: 8px 30px 0;
  }
  @include respond-to(xs) {
    padding: 8px 0 0;
  }
}
