.description {
  width: calc(100% - 300px);
  margin-right: 33px;
  @include respond-to(sm) {
    width: 100%;
    padding-left: 20px;
  }

  &__title {
    @include OpenSans-700;
    color: #0072bc;
    font-size: 23px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 34px;
    @include respond-to(479) {
      font-size: 18px;
    }
  }

  h4,
  p {
    @include roboto-c-400;
    color: #474747;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 25px;
  }

  h4 {
    @include roboto-c-700;
    text-transform: uppercase;
  }

  &__quote {
    @include roboto-c-700;
    color: #000;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    text-align: left;
  }
}

.social-group {
  &-inner {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;

  @include respond-to(md) {
    flex-direction: column;
    flex-grow: 0;
  }
}
  @include respond-to(sm) {
    display: none;
  }
   &__item {
  margin-bottom: 19px;
}
&__vk {
  background: url("../../img/vk.jpg"); //TEMP
  width: 299px; //TEMP
  height: 435px; //TEMP
}

&__fb {
  background: url("../../img/fb.jpg"); //TEMP
  width: 298px; //TEMP
  height: 362px; //TEMP
}

&__tw {
  background: url("../../img/tw.jpg"); //TEMP
  width: 311px; //TEMP
  height: 373px; //TEMP
}

&__inst {
  background: url("../../img/inst.jpg"); //TEMP
  width: 298px; //TEMP
  height: 412px; //TEMP
}
}
