.page-footer {
  background: url("../../img/footer.jpg");
  padding-top: 30px;
  padding-bottom: 35px;
  max-height: 512px;
}

.coutries {
  &-poland {
    margin-right: 68px;
    @include respond-to(md) {
      margin-right: 0;
    }
  }

  &-czech {
    margin-right: 85px;
    @include respond-to(md) {
      margin-right: 0;
    }
  }
}

.countries-title {
  @include roboto-c-700;
  color: #f7941d;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer {
  &__flex-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-countries {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 65px;
    @include respond-to(md) {
      margin-right: 30px;
      justify-content: space-around;
    }

    &__item {
      &-padding {
        margin-bottom: 30px;
      }
    }

    &__link {
      @include OpenSans-600;
      color: #fff;
      font-size: 14px;
      line-height: 1.8;
      text-align: left;

      @include respond-to(md) {
        font-size: 12px;
      }

      &:hover {
        text-decoration: underline;
      }

      &-city {
        color: #f7941d;
      }
    }

    .copyright {
      flex: 1 100%;
      font-family: 'calibri';
      color: #d0d0d0;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      margin-top: 20px;

      &__link {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  &__contacts {
    width: 265px;
    display: flex;
    flex-flow: column nowrap;

    .contacts {
      border-left: none;
      border-right: none;
      margin-bottom: 20px;
      padding-left: 0;
      padding-right: 0;

      &__title {
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      &__inf {
        @include respond-to(md) {
          font-size: 12px;
          display: inline-block;
        }
      }

      &__left {
        float: none;
      }

      &__right {
        float: none;
      }

      &__inf {
        line-height: 1.8;
        @include respond-to(md) {
          line-height: 1.3;
        }
      }
    }

    .mode {
      border-right: none;

      padding-left: 0;
      padding-right: 0;

      &__title {
        text-align: left;
        text-transform: uppercase;
        @include respond-to(md) {
          font-size: 16px;
        }
      }

      &__time {
        line-height: 1.3;
        margin-bottom: 0;
        @include respond-to(md) {
          font-size: 12px;
        }
      }
      &__email {
        @include respond-to(md) {
          font-size: 12px;
        }
      }
    }

    .social {
      margin-bottom: 20px;
      @include respond-to(md) {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}

.subscribe {
  &__title {
    font-family: 'Roboto';
    color: #f7941d;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include respond-to(md) {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 15px;
    }
  }

  &__form {
    position: relative;
  }
}

#subscribe__text {
  width: 100%;
  @include OpenSans-400;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  text-align: left;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  padding: 12px;
}

#subscribe__submit {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #f7941d;
  width: 38px;
  @include OpenSans-400;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
}
