.page-footer {
  background: url("../../img/footer.jpg");
  padding-top: 30px;
  padding-bottom: 35px;
  max-height: 512px;
  @include respond-to(sm) {
padding-left: 15px;
padding-right: 15px;
background: url("../../img/footer-xs.jpg");
background-size: cover;
max-height: 806px;
  }
}

.coutries {
  &-poland {
    margin-right: 68px;
    @include respond-to(md) {
      margin-right: 0;
    }
  }

  &-czech {
    margin-right: 85px;
    @include respond-to(md) {
      margin-right: 0;
    }
  }
}

.countries-title {
  @include roboto-c-700;
  color: #f7941d;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  @include respond-to(sm) {
    border: 1px solid #f7941d;
    padding: 13px 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer {
  &__flex-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include respond-to(sm) {
      flex-flow: column nowrap;
    }
  }

  &-countries {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 65px;
    @include respond-to(md) {
      margin-right: 30px;
      justify-content: space-around;
    }
    @include respond-to(sm) {
      flex-flow: column nowrap;
      margin-right: 0;
    }

    &__item {
      @include respond-to(sm) {
        display: none;
      }
      &-padding {
        margin-bottom: 30px;
      }
    }

    &__link {
      @include OpenSans-600;
      color: #fff;
      font-size: 14px;
      line-height: 1.8;
      text-align: left;

      @include respond-to(md) {
        font-size: 12px;
      }

      &:hover {
        text-decoration: underline;
      }

      &-city {
        color: #f7941d;
      }
    }

    .copyright {
      flex: 1 100%;
      font-family: 'calibri';
      color: #d0d0d0;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      margin-top: 20px;
      @include respond-to(sm) {
        display: none;
      }

      &__link {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  &__contacts {
    width: 265px;
    display: flex;
    flex-flow: column nowrap;
    @include respond-to(sm) {
      align-items: center;
      width: 100%;
    }

    .contacts {
      border-left: none;
      border-right: none;
      margin-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
      @include respond-to(sm) {
        display: block;
        width: auto;
      }

      &__title {
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include respond-to(sm) {
          text-align: center;
        }
      }

      &__inf {
        @include respond-to(md) {
          font-size: 12px;
          display: inline-block;
        }
      }

      &__left {
        float: none;
        @include respond-to(sm) {
          float: left;
        }
      }

      &__right {
        float: none;
        @include respond-to(sm) {
          float: right;
          width: 170px;
        }
      }

      &__inf {
        line-height: 1.8;
        @include respond-to(md) {
          line-height: 1.3;
        }
      }
    }

    .mode {
      border-right: none;

      padding-left: 0;
      padding-right: 0;
      @include respond-to(sm) {
        display: block;
    }

      &__title {
        text-align: left;
        text-transform: uppercase;
        @include respond-to(md) {
          font-size: 16px;
        }
        @include respond-to(sm) {
          text-align: center;
        }
      }

      &__time {
        line-height: 1.3;
        margin-bottom: 0;
        @include respond-to(md) {
          font-size: 12px;
        }
        @include respond-to(sm) {
          display: block;
          width: 150px;
          margin: 0 auto;
        }
      }
      &__email {
        @include respond-to(md) {
          font-size: 12px;
        }
      }
    }

    .social {
      margin-bottom: 20px;
      @include respond-to(md) {
        width: 100%;
        margin-bottom: 16px;
      }
      @include respond-to(sm) {
        display: block;
        width: 600px;
        margin: 0 auto;
      }
    }
    .social__link {
      @include respond-to(sm) {
        width: 95px;
        height: 94px;
        margin-right: 2px;
        &:before {
          width: 33px;
          height: 35px;
          margin: -15px -10px;
          background: url("../../img/social-xs.png");

        }
      }
        .social__fb {
          &:before {
            background-position: 0 18px;
            width: 9px;
            left: 50%;
            margin-left: -4px;
          }
        }

        .social__vk {
          &:before {
            background-position: -120px 19px;
          }
        }

        .social__tw {
          &:before {
            background-position: -84px 19px;
          }
        }
        .social__google {
          &:before {
            background-position: -127px 19px;
          }
        }

        .social__inst {
          &:before {
            background-position: -173px 19px;
          }
        }

        .social__youtube {
          margin-right: 0;
          &:before {
            height: 44px;
            background-position: -215px 20px;
          }
        }
      }
    }

}

.subscribe {
  @include respond-to(sm) {
    display: none;
  }
  &__title {
    font-family: 'Roboto';
    color: #f7941d;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include respond-to(md) {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 15px;
    }
  }

  &__form {
    position: relative;
  }
}

#subscribe__text {
  width: 100%;
  @include OpenSans-400;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  text-align: left;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  padding: 12px;
}

#subscribe__submit {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #f7941d;
  width: 38px;
  @include OpenSans-400;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
}
