.menu {
  &__flex-inner--closed,
  &__flex-inner--opened {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include respond-to(sm) {
      flex-flow: column;
      width: 100%;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }

  &__flex-inner--opened {
    @include respond-to(sm) {
      display: block;
    }
  }

  &__container {
    position: relative;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    @include respond-to(sm) {
      flex-flow: column;
      z-index: 100;
    }
  }

  &__link {
    display: block;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(37, 37, 37, 0.76);
    font-size: 16px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    padding: 26px 18px 27px;
    transition: 0.5s;
    @include respond-to(md) {
      font-size: 14px;
      padding: 26px 13px 27px;
    }
    @include respond-to(sm) {
      font-size: 24px;
      padding: 26px 13px 27px;
      text-align: center;
      border-bottom: 0.5px solid #c2c2c2;
      background: #fff;
    }
    @include respond-to(479) {
      font-size: 14px;
      padding: 18px;
    }

    &--active {
      @include roboto-700;
      color: #000;
    }

    &:hover {
      background-color: #f7941d;
      color: #fff;
    }
  }
}

.search {
  display: inline-block;
  background-color: #ebebeb;
  padding-left: 20px;
  @include respond-to(sm) {
    width: 100%;
    padding-left: 0;
  }

  &__input-inner {
    display: block;
    margin: 0 auto;
    position: relative;
    padding-left: 35px;
    @include respond-to(sm) {
      width: 250px;
    }
    @include respond-to (479) {
      width: 200px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 19px;
      height: 19px;
      background: url("../../img/search.png");
      cursor: pointer;
      top: 50%;
      left: 0;
      margin-top: -12px;
      @include respond-to(sm) {
        left: 15px;
      }
    }
  }

  input {
    width: 310px;
    height: 65px;
    @include roboto-700;
    color: #4e4c4c;
    font-size: 16px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    background-color: #ebebeb;
    padding: 23px 18px 23px 0;
    @include respond-to(md) {
      width: 195px;
      font-size: 14px;
      padding: 23px 13px;
    }
    @include respond-to (sm) {
      font-size: 18px;
      width: 100%;
    }
    @include respond-to (479) {
      font-size: 14px;
    }
  }
}
