.offers {
  margin-bottom: 45px;
  @include respond-to(sm) {
    margin: 0 -15px 40px;
  }

  &__title {
    text-align: left;
    margin-bottom: 26px;
    @include respond-to(sm) {
      display: none;
    }
  }

  &__flex-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include respond-to(md) {
      flex: 2 50%;
    }
  }

  &__btn {
    @include respond-to(sm) {
      display: none;
    }
  }
}

.offers-item {
  display: block;
  position: relative;
  margin-bottom: 20px;
  @include respond-to(md) {
    width: 49%;
    margin-right: 1%;
  }
  @include respond-to(sm) {
    width: 100%;
    margin-bottom: 5px;
    margin-right: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.72);
    @include roboto-c-700;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;

    @include respond-to(sm) {
      right: 40%;
    }

    span {
      color: #f58f00;
    }
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include OpenSans-700;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(247, 148, 29, 0.78);
  }

  &__picture img {
    width: 298px;
    height: 245px;
    @include respond-to(md) {
      width: 100%;
      height: auto;
    }
  }
}
