.slider {
  position: relative;

  &__picture {
    margin: auto;
    max-width: 1920px;
  }

  .container {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-inf {
  width: 600px;

  &__title {
    @include OpenSans;
    color: #fff;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    padding-bottom: 25px;

    span {
      color: #f58f00;
    }
  }

  &__text {
    @include OpenSans;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 25px;
    margin-bottom: 32px;
  }

  &__btn {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: 12px;
    text-align: left;
    background-color: #0072bc;
    text-transform: uppercase;
    padding: 22px 77px 21px 78px;
  }
}

.promo-connection {
  display: block;
}

.promo-form {
  display: inline-block;
  padding: 36px 25px 29px 24px;
  margin-bottom: 9px;
  background-color: rgba(37, 37, 37, 0.76);
  width: 470px;

  &__title {
    @include roboto-c-400;
    color: #f58f00;
    font-size: 24px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  input {
    background-color: #fff;
    width: 421px;
    height: 41px;
    margin-bottom: 19px;
    padding: 12px 13px 14px 12px;

    &[placeholder] {
      font-family: 'Open Sans';
      color: rgba(37, 37, 37, 0.76);
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
    }
  }
  &__btn {
    display: block;
    width: 100%;
    @include roboto-700;
    color:  #fff;
    font-size: 18px;
    line-height: 12px;
    text-align: center;
    background-color: #f58f00;
    text-transform: uppercase;

    padding: 23px 23px 24px 23px;
  }
}

.promo-questionary {
  background-color:  rgba(37, 37, 37, 0.76);
width: 470px;
padding: 12px 13px 14px 12px;
&__btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 12px;
  text-align: center;
  background-color: #0072bc;
  text-transform: uppercase;
  padding: 22px 23px 21px 23px;
}
}
