.tabs-box {
  border: 1px solid #e1e1e1;
  width: 100%;

  &__table {
    border-spacing: 0;
  }

  &__title {
    display: block;
    font-family: 'Roboto';
    color: #f58f00;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  &__cell {
    border: 1px solid #ebebeb;
  }

  thead {
    background: #0072bc;

    .tabs-box__cell {
      font-family: 'Roboto';
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      text-transform: uppercase;
      padding: 16px 0;
    }
  }

  tbody {
    .tabs-box__cell {
      font-family: 'Roboto';
      color: #323131;
      font-size: 16px;
      line-height: 1.3;
      text-align: left;
      padding: 16px 28px;
    }

    .tabs-box__cell:first-child {
      color: #3c3b3b;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #f9f9f9;
    }

    .tabs-box__cell:last-child {
      text-align: center;
    }
  }

  &__text {
    font-family: 'Roboto';
    color: #626262;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    margin-top: 29px;
  }
}
