.top-header {
  background: #272727 url(../../img/top-header.jpg) repeat;
  padding-top: 13px;
  padding-bottom: 13px;
}

.top-header {
  &__flex-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  &__picture {
  width: 245px;
  height: 108px;
  @include respond-to(md) {
    width: 200px;
    height: auto;
  }
}
&__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #f7941d;
  text-transform: uppercase;
  font-size: 18.5px;
line-height: 12px;
text-align: left;
padding-top: 5px;
}
}

.language {
  font-size: 0;
  width: 57px;
  margin-left: 23px;
  margin-right: 30px;
  @include respond-to(md) {
    margin-left: 13px;
    margin-right: 15px;
  }
  @include respond-to(sm) {
    font-size: 0;
    width: 130px;
  }
  @include respond-to(479) {
    width: 57px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    @include respond-to(sm) {
      margin: 0 13px 13px 0;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
    @include respond-to(479) {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 55px;
    height: 25px;
    @include ptsans-400;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: right;
    border: 1px solid transparent;
    padding-right: 8px;
    padding-left: 28px;
    border: 1px solid transparent;
    @include respond-to(sm) {
      border: 1px solid #898989;
    }
    @include respond-to(479) {
      border: 1px solid transparent;
    }

    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 8px;
      width: 14px;
      height: 10px;
      background: url(../../img/lang.png);
    }

    &:hover {
      color: #f7941d;
      border: 1px solid #f7941d;
    }
  }

  &__ru {
    &:before {
      background-position: 0 54px;
    }
  }

  &__en {
    &:before {
      background-position: 0 33px;
    }
  }

  &__pl {
    &:before {
      background-position: 0 10px;
    }
  }
}

.contacts {
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
  width: 350px;
  min-height: 70px;
  padding-left: 35px;
  padding-right: 35px;
  @include respond-to(md) {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond-to(xs) {
    display: none;
  }

  &__title {
    width: 350px;
    @include roboto-c-700;
    color: #f7941d;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin-bottom: 11px;
  }

  &__container {
    @include clearfix();
  }

  &__left {
    float: left;
    width: 130px;
  }

  &__right {
    float: right;
    width: 126px;
  }

  &__inf {
    @include OpenSans;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 9px;
  }

  &__skype {
    position: relative;
    padding-left: 35px;

    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 19px;
      top: 0;
      left: 0;
      background: url("../../img/contacts.png");
      background-position: 0 20px;
    }
  }
}

.mode {
  width: 270px;
  min-height: 70px;
  padding-left: 35px;
  padding-right: 35px;
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
  margin-right: 25px;
  @include respond-to(md) {
    width: 250px;
    padding-left: 15px;
    padding-right: 10px;
    margin-right: 15px;
  }
  @include respond-to(sm) {
    display: none;
  }

  &__title {
    @include roboto-700;
    color: #f7941d;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 11px;
  }

  &__time {
    @include OpenSans;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    text-align: left;
    margin-bottom: 9px;
    padding-left: 35px;

    &:before {
      content: "";
      position: absolute;
      width: 19px;
      height: 19px;
      top: -2px;
      left: 0;
      background: url("../../img/contacts.png");
      background-position: 20px 0;
    }
  }

  &__email {
    position: relative;
    font-family: 'Segoe UI', arial, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    padding-left: 35px;

    &:before {
      content: "";
      position: absolute;
      width: 19px;
      height: 15px;
      top: 5px;
      left: 0;
      background: url("../../img/contacts.png");
      background-position: 19px 15px;
    }
  }
}

.social {
  width: 270px;
  font-size: 0;
  margin: 0;
  @include respond-to(md) {
    width: 140px;
  }
  @include respond-to(sm) {
    display: none;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    position: relative;
    background-color: #f7941d;
    width: 43px;
    height: 43px;
    margin-right: 1px;
    display: inline-block;
    vertical-align: top;

    &:before {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      top: 50%;
      left: 50%;
      margin: -8px;
      background: url("../../img/social.png");
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__fb {
    margin-bottom: 1px;

    &:before {
      background-position: 0 18px;
      width: 9px;
      left: 50%;
      margin-left: -4px;
    }
  }

  &__vk {
    margin-bottom: 1px;

    &:before {
      background-position: -40px 19px;
    }
  }

  &__tw {
    margin-bottom: 1px;

    &:before {
      background-position: -84px 19px;
    }
  }

  &__google {
    &:before {
      background-position: -127px 19px;
    }
  }

  &__inst {
    &:before {
      background-position: -173px 19px;
    }
  }

  &__youtube {
    margin-right: 0;

    &:before {
      height: 20px;
      background-position: -215px 20px;
    }
  }
}

.toggle {
  display: none;
  @include respond-to(sm) {
    display: block;
    position: relative;
    width: 45px;
    height: 32px;

    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 45px;
      height: 32px;
      font-size: 0;
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      transition: 0.5s;

      &:hover {
        opacity: 1;
      }

      &--closed {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 2px;
          background: #fff;
          box-shadow: 0 15px 0 0 #fff, 0 30px 0 0 #fff;
        }

        &:active {
          &:before {
            background: #fff;
            box-shadow: 0 15px 0 0 #fff, 0 30px 0 0 #fff;
          }
        }
      }

      &--opened {
        &::before {
          content: "";
          position: absolute;
          right: -0.5px;
          top: 6px;
          width: 23px;
          height: 2px;
          background-color: #fff;
        }

        &::after {
          content: "";
          position: absolute;
          right: -0.5px;
          top: 6px;
          width: 23px;
          height: 2px;
          background-color: #bfd730;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:hover::after,
        &:hover::before {
          background: #eef2f3;
        }

        &:active::after,
        &:active::before {
          background: #eef2f3;
        }
      }
    }
  }
}
