.university {
  &-top {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 33px;
    margin-bottom: 33px;
    @include respond-to(xs) {
      flex-flow: column wrap;
      align-items: center;
    }

    &__description {
      width: calc(100% - 252px);
      @include respond-to(xs) {
        width: 100%;
      }
    }

    &__picture {
      margin-right: 33px;
      margin-bottom: 40px;

      img {
        width: 219px;
        height: 218px;
      }
    }

    &__title {
      @include roboto-c-700;
      color: #f7941d;
      font-size: 24px;
      line-height: 25px;
      text-align: left;
      margin-bottom: 30px;
      text-transform: uppercase;
      @include respond-to(xs) {
        text-align: center;
      }
    }

    &__address {
      @include roboto-c-400;
      color: #464646;
      line-height: 25px;
      text-align: left;
      margin-bottom: 12px;
    }

    &__web {
      display: block;
      position: relative;
      @include roboto-c-400;
      color: #464646;
      font-size: 16px;
      line-height: 25px;
      text-decoration: underline;
      text-align: left;
      padding-left: 25px;
      margin-bottom: 27px;

      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 15px;
        height: 15px;
        background: url("../../img/web.png");
      }
    }

    &__description {
      @include roboto-c-400;
      color: #000;
      font-size: 16px;
      line-height: 25px;
      text-align: left;

      span {
        font-weight: 700;
        color: #5d5b5b;
      }
    }
  }
}

  .university-center {
    display: flex;
    flex-flow: row;
    @include respond-to(xs) {
      flex-flow: column wrap;
      align-items: center;
    }

    p:first-child {
      font-weight: 700;
    }

      img {
      width: 189px;
      height: 253px;
      margin-left: 35px;
      @include respond-to(xs) {
        margin-bottom: 40px;
      }
    }

    &__text {
      font-family: 'Roboto';
      color: #000;
      font-size: 16px;
      line-height: 25px;
      text-align: left;
      padding-bottom: 25px;
      @include respond-to(xs) {
      font-size: 14px;
      }

      &-2 {
        color: #626262;
        margin-bottom: 41px;
        padding-left: 13px;
        padding-bottom: 0;
        border-left: 3px solid #f7941d;
      }
    }
}

.tabs-books {
  &__list {
    display: flex;
    flex-flow: row nowrap;
  }

  &__link {
    display: block;
    @include roboto-c-700;
    color: #808080;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 1px;
    padding: 18px 18px 17px 19px;
    @include respond-to(xs) {
       font-size: 12px;
       padding: 10px;
    }
}
}

.tabs-box {
  padding: 30px 25px;
  margin-bottom: 48px;
}

.tabs-box-gallery {
  border: 1px solid #ebebeb;
  padding: 30px 25px;
  margin-bottom: 48px;

  &__flex-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
  }


  &__picture {
    display: inline-block;
    margin: 0 2px 4px;
    width: 24%;
    height: auto;
  }
}

.social {
  &-2 {
    margin-top: 55px;
  }

  .consultation__quote {
    text-align: left;
  }
}

.active {
  background-color: #f58f00;
  color: #fff;
}
